.wrapper {
  width: 500px;
  height: 100vh;
  background-image: url("img/어벤져스.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 0 20px 3px var(--effect-color);
  padding: 0 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cafe24Ohsquare";
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background-color: var(--base-color);
  color: var(--base-color);
}

@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* :root {
  --base-color: rgba(51, 51, 51, 0.9);
  --effect-color: rgb(241, 242, 246, 0.9);
  --dark-color: #b33939;
} */

:root {
  --base-color: rgba(241, 242, 246, 0.9);
  --effect-color: rgba(51, 51, 51, 0.9);
  --dark-color: #b33939;
}

.logo-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
}

.logo {
  width: 100px;
  height: 100px;
  transition: all 0.4s;
}

.audio {
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio h3 {
  margin: 0 10px;
}

audio:focus {
  outline: none;
}

article {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.6s;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: calc((100% - 500px) / 2);
  width: 500px;
  height: 33vh;
  background-color: rgba(0, 0, 0, 0);
}

#img {
  width: 300px;
  height: 300px;
  margin: 30px auto;
  border-radius: 20px;
  border: 2px solid var(--base-color);
}

#avenger {
  margin: 0;
}

#explain {
  padding: 10px;
  line-height: 25px;
  font-size: 18px;
  margin: 0;
  margin-top: 20px;
}

.share {
  margin: 10px auto;
}

.good-bad {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.good,
.bad {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

#good-img,
#bad-img {
  width: 150px;
  height: 150px;
  border: 2px solid var(--base-color);
  border-radius: 20px;
}

.progress-bar {
  background-color: var(--effect-color);
}

.progress {
  height: 20px;
  margin: 10px 0;
  background-color: var(--dark-color);
}

#title {
  width: 100%;
  height: 130px;
  background-color: var(--effect-color);
  border-radius: 4px;
  border: 2px solid var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  padding: 0 5px;
}

.result {
  color: var(--base-color);
}

.result h3 {
  margin: 20px 0;
}

.start h1 {
  font-size: 60px;
  transition: all 0.4s;
  margin-top: 30px;
}

/* disqus */

#chat {
  margin-top: 20px;
}

#disqus_thread {
  background-color: var(--base-color);
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}

.chat_title {
  margin-bottom: 0;
  text-align: center;
}

/* ad */

.ad_banner {
  width: 320px;
  margin: 0 auto;
  margin-top: 10px;
}

.jocoding h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jocoding {
  margin-top: 20px;
}

.jocoding h2 a {
  color: var(--dark-color);
}

.jocoding h2 a:hover {
  text-decoration: none;
}

.youtube-icon {
  width: 40px;
}

/* js class */

.right {
  transform: translate(120%);
}

.left {
  transform: translate(-120%);
}

.none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.test-end {
  background-image: url("");
  background-color: var(--effect-color);
}

.fit-content {
  height: fit-content;
}

.mobile {
  width: 100%;
}

/* button */

button {
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  color: var(--effect-color);
  border: 2px solid var(--effect-color);
  background-color: var(--base-color);
  transition: all 0.4s;
  height: 100px;
  margin-top: 15px;
}

#retry,
#chat_btn {
  width: 300px;
  height: 70px;
  margin: 10px auto;
}

#retry:active,
#chat_btn:active {
  color: var(--effect-color);
  background-color: var(--base-color);
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
  color: var(--base-color);
  background-color: var(--effect-color);
}

.button-hover {
  color: var(--base-color);
  background-color: var(--effect-color);
}

/* media query */

@media (max-width: 500px) {
  .bottom {
    width: 100%;
    left: 0;
  }
  .start h1 {
    font-size: 50px;
  }
  #title {
    font-size: 20px;
  }
  button {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .bottom {
    width: 40%;
    left: calc((100% - 40%) / 2);
  }
  .wrapper {
    width: 40%;
  }
}

@media (min-width: 1800px) {
  .start h1 {
    font-size: 100px;
  }
  .start h2 {
    font-size: 40px;
  }
  #title {
    font-size: 30px;
    height: 180px;
  }
  .btn-hover {
    font-size: 30px;
    height: 130px;
  }
  .audio h3 {
    font-size: 40px;
  }
  audio {
    zoom: 1.5;
  }
  .progress {
    height: 30px;
  }
  .progress-bar {
    height: 30px;
    font-size: 20px;
  }
  #explain {
    padding: 0 20%;
  }
}

@media (min-width: 2800px) {
  .start h1 {
    font-size: 150px;
  }
  .start h2 {
    font-size: 80px;
  }
  #title {
    font-size: 60px;
    height: 300px;
  }
  .btn-hover {
    font-size: 60px;
    height: 250px;
  }
  .audio h3 {
    font-size: 80px;
  }
  audio {
    zoom: 2.5;
  }
  .progress {
    height: 60px;
  }
  .progress-bar {
    height: 60px;
    font-size: 40px;
  }
}

/* loading animation */

.loader,
.loader:before,
.loader:after {
  background: var(--base-color);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--base-color);
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
